.card{
  max-width:230px;
  max-height:230px;
  position:center;
  margin-top:25px;
  margin-left:30px;
  }

.home-flex-container{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;

}

#home-container-cards{
  background-color: #dbd9d9;
}
